.button-custom {
	background-color: black;
}

.op-btn {
	color: red;
	margin: 1px;
	background-color: orange;
}

.c-btn {
	color: white;
	margin: '2px 1px 1px 2px';
	background-color: green;
}

.screen {
	width: 30%;
	margin: 5px;
	border: 1px solid black;
}